.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.show-modal {
  display: flex;
}

.hide-modal {
  display: none;
}

.lightbox-image {
  padding-left: 66px;
  padding-right: 66px;
}

.lightbox-close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 53px;
}

.lightbox-close:hover {
  cursor: pointer;
}

.lightbox-previous,
.lightbox-next {
  font-size: 53px;
  color: black;
  user-select: none;
}

.lightbox-previous:hover,
.lightbox-next:hover {
  cursor: pointer;
}

.disabled {
  color: #E5E5E5;
  cursor: default !important;
}

@media only screen and (max-width: 750px) {

  .lightbox-image {
    padding-left: 10px;
    padding-right: 10px;
  }

  .lightbox-previous {
    padding-left: 5px;
    font-size: 20px;
  }

  .lightbox-next {
    padding-right: 5px;
    font-size: 20px;
  }

}
