<aside class="lightbox-modal"
       [class.show-modal]="lightboxService.showModal"
       [class.hide-modal]="!lightboxService.showModal">

  <div class="lightbox-close"
       (click)="closeLightbox()">&times;</div>

  <a class="lightbox-previous"
     (click)="changeSlide(-1)">&larr;</a>
  <img class="lightbox-image"
       src="{{lightboxService.imageUrl}}"
       onerror="this.src='https://i.picsum.photos/id/456/640/480.jpg';" />
  <a class="lightbox-next"
     (click)="changeSlide(1)">&rarr;</a>

</aside>
