.logout {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  top: 20px;
  right: 70px;
}

.logout:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {

  .logout {
    top: 15px;
    right: 15px;
  }
}
