<div class="login">

  <form [formGroup]="loginForm"
        class="login-form">

    <label class="login-label">Ulogujes se</label>
    <input formControlName="username"
           class="login-input"
           type="text"
           placeholder="korisnicko ime">
    <span *ngIf="username && username.invalid">
      username is required.
    </span>
    <input formControlName="email"
           class="login-input"
           type="text"
           placeholder="email">
    <button class="login-buton"
            [disabled]="!loginForm.valid"
            (click)="login()">KLIKNI</button>
    <p class="login-error"
       *ngIf="loginError">Pogresno korisnicko ime ili email</p>

  </form>

</div>
