.login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  width: 40%;
}

.login-label {
  font-size: 64px;
  font-weight: 100;
  line-height: 78px;
}

.login-input {
  border-style: hidden hidden solid hidden;
  border-color: black;
  border-width: 2px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 100;
}

.login-buton {
  height: 81px;
  background-color: #FFC23B;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 7.27px;
  color: #FFFFFF;
  border: 0;
}

.login-buton:hover {
  cursor: pointer;
}
