.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-label {}

.login-input {
  border-style: hidden hidden solid hidden;
  border-color: black;
  border-width: 2px;
}
