<div class="delete-dialog"
     [class.show-modal]="deleteService.showDeleteDialog"
     [class.hide-modal]="!deleteService.showDeleteDialog">

  <span class="close"
        title="Close dialog"
        (click)="closeDeleteDialog()">&times;</span>

  <div class="delete-dialog-content">
    <p class="delete-dialog-question">Da li ste sigurni da zelite da obrisete?</p>
    <div class="delete-dialog-buttons">
      <p class="button">Da</p>
      <span class="dot">&#8226;</span>
      <p class="button"
         (click)="closeDeleteDialog()">Ne</p>
    </div>
  </div>

</div>
