.photo-image {
  max-width: 100%;
}

.photo-title {
  color: #000000;
  font-size: 32px;
  font-weight: 100;
  line-height: 39px;
  transition: 0.1s;
}

.photo:hover {
  cursor: pointer;
}

.set-list {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-column-gap: 30px;
}

.delete-icon {
  padding-top: 10px;
  margin-left: 10px;
}

.delete-icon-image {
  height: 24px;
}

.delete-icon-image:hover {
  background-image: url(../../../assets/icons/delete-hover.png);
}

.title-and-icon {
  display: flex;
  justify-content: space-between;
}

.title-and-icon-rows {
  flex-direction: column;
}
