.delete-icon {
  padding-top: 10px;
  margin-left: 10px;
}

.delete-icon-image {
  height: 24px;
}

.delete-icon-image:hover {
  cursor: pointer;
  background-image: url(../../../assets/icons/delete-hover.png);
}
