.back-button {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0 0 70px;
}

.back-button:hover {
  cursor: pointer;
}

.album {
  padding: 70px;
}

.album-info-and-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.album-title {
  font-size: 64px;
  font-weight: 100;
  line-height: 78px;
}

.album-photos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

.set-list {
  grid-template-columns: 1fr;
}
