.albums {
  padding: 70px;
}

.album-info-and-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  grid-area: album-info-and-layout;
}

.albums-owner {
  font-size: 64px;
  font-weight: 100;
  line-height: 78px;
}

.albums-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
}

.set-list {
  grid-template-columns: 1fr;
}
