:root {
  --album-title-color: #000000;
}

.album-image {
  max-width: 100%;
}

.album-title {
  /* --album-title-color: #000000; */
  color: var(--album-title-color);
  font-size: 32px;
  font-weight: 100;
  line-height: 39px;
  transition: 0.1s;
}

.album:hover {
  cursor: pointer;
  --album-title-color: #FFC23B;
}

.set-list {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-column-gap: 30px;
}
