.album-image {
  max-width: 100%;
}

.album-image:hover {
  cursor: pointer;
}

.album-title {
  color: #000000;
  font-size: 32px;
  font-weight: 100;
  line-height: 39px;
  transition: 0.1s;
}

.album-title-yellow {
  color: #FFC23B;
}

.set-list {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-column-gap: 30px;
}

.title-and-icon {
  display: flex;
  justify-content: space-between;
}

.title-and-icon-rows {
  flex-direction: column;
}

@media only screen and (max-width: 750px) {

  .album-title {
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
  }

}
